$brand-blue: #00AAE7;
$brand-purple: #5c515a;

#eaze-gif-wrap,
.gif-search-wrapper{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0,0,0,0.3);
	.gif-search-wrapper-inner{
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		.gif-search-body{
			position: absolute;
			width: 100%;
			max-width: 600px;
			background-color: #ffffff;
			box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
			left: 50%;
			top: 100px;
			transform: translateX(-50%);
			padding: 1rem;
			box-sizing: border-box;
			.gif-search-close-wrapper{
				text-align: right;
				#gif-search-close{
					width: 32px;
					height: 32px;
					background-color: #ebebeb;
					display: inline-block;
					text-align: center;
					line-height: 32px;
				}
			}
			.heading-section{
				p{
					font-size: 2rem;
					text-align: center;
					font-weight: bold;
					text-transform: uppercase;
					margin-top: 0;
				}
			}
			#gif-search-input{
				display: inline-block;
				width: calc(98% - 100px);
				height: 40px;
				@media screen and (max-width: 767px) {
					width: 100%;
				}
			}
			#gif-search-button{
				display: inline-block;
				border: none;
				width: 100px;
				height: 40px;
				box-shadow: none;
				background-color: #ebebeb;
				@media screen and (max-width: 767px) {
					width: 100%;
				}
			}
			.gif-search-results{
				overflow: scroll;
				width: 100%;
				height: 360px;
				margin: 1rem 0;

				.gif-btn{
					display: none !important;
					&:checked{
						&+ label{
							&::after{
								content: "\2713 SELECTED";
								width: 100%;
								height: 100%;
								background-color: rgba(255,255,255,0.7);
							}
						}
					}
					&+ label{
						position: relative;
						width: calc(100% - 10px);
						display: inline-block;
						border: 5px solid white;
						vertical-align: top;
						&::after{
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							content: "";
							text-align: center;
							background-color: #ffffff;
							color: #000000;
							font-weight: bold;
							font-size: 32px;
							padding-top: 1rem;
						}
						img{
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
			#gif-search-insert{
				display: block;
				border: none;
				width: 100%;
				height: 40px;
				box-shadow: none;
				background-color: #ebebeb;
				width: 100%;
				.gif-count{

				}
			}

			#gif-search-close,
			#gif-search-button,
			#gif-search-insert{
				&:hover{
					cursor: pointer;
					background-color: #e3e3e3 !important;
				}
			}

		}
	}
}
